h1 {
      font-family: "Playfair Display";
}

h2, h3, h4, h5 {
      font-family: Montserrat;
}

p, span, a, li {
      font-family: Roboto;
      white-space: pre-wrap;
}

p {
      /* text-align: justify; */
}

a {
      text-decoration: none;
      color: DarkBlue;
}

a:hover {
      color: SteelBlue;
}

#main-content {
      margin: 20px;
}

#main-text {
      width: 30%;
}

/* #navigation a + a::after:not(:last-child) { */
#navigation a + a:before {
      content: " | ";
}

/* .info1::before {
      margin-bottom: 0px;
} */

.info {
      display: flex;
}

.info1::after {
      /* content: "&#8226;"; */
      content: "—";
      margin: 0 5px;
      color: gray;
}

.info1, .info2, .info3 {
      font-family: Oxygen;
      /* font-weight: 300; */
      font-style: italic;
      font-size: 80%;
      margin-top: 0px;
}

.info1, .info2 {
      /* font: */
      color: SteelBlue;
}

.info3 {
      color: MidnightBlue;
}

.resume-block, .content {
      margin-left: 20px;
}

.resume-block > h3 {
      margin-bottom: 10px;
}
