h1 {
      font-family: "Playfair Display";
}

h2, h3, h4, h5 {
      font-family: Montserrat;
}

p, span, a, li {
      font-family: Roboto;
      white-space: pre-wrap;
}

p {
      /* text-align: justify; */
}

a {
      text-decoration: none;
      color: DarkBlue;
}

a:hover {
      color: SteelBlue;
}

#main-content {
      margin: 20px;
}

#main-text {
      width: 30%;
}

/* #navigation a + a::after:not(:last-child) { */
#navigation a + a:before {
      content: " | ";
}
